# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

*.launch

mcp751.zip
forge1.5.2-*.zip
mcp751-forged.zip
